@(title: String)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="https://use.fontawesome.com/aa43e8b2ab.js"></script>
  </head>
  <body>
      <div id="page">
          <div id="canvas-container">
              @*<canvas id="canvas" tabindex="1" style=""></canvas>*@
          </div>
          <div id="side-panel">
              <div id="scoreboard">
              Score-Board (Top 10)
                  <table>
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Score</th>
                          </tr>
                      </thead>
                      <tbody>
                      </tbody>
                  </table>
              </div>
              <div id="status-board">
                  <div class="row">
                      <p id="name"></p>
                      <p id="score"></p>
                  </div>
                  <div class="row" id="energy"></div>
              </div>
          </div>
      </div>
      <div class="ui modal small" id="username-modal">
          <h2 class="header ui center aligned">Welcome to Super Snake</h2>
          <div class="content">The control is same as classic snake, please enter your nickname to start playing.</div>
          <div class="content ui input">
              <input type="text" id="username-input">
          </div>
          <div class="actions">
              <div class="ui button positive green" id="submit-username">OK</div>
          </div>
      </div>
      <script src="https://cdn.rawgit.com/jondavidjohn/hidpi-canvas-polyfill/1.0.9/dist/hidpi-canvas.min.js"></script>
      @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
  </body>
</html>
