html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #42f4f1;
  font-size: 1em;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  color: #42f4f1;
}

#canvas-container {
  width: 80%;
  height: 100%;
  flex: 0 4 auto;
}

#username-input {
  border: 3px solid #52ff93;
}

#page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  #side-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #42f4f1;

    > * {
      flex: 1 1 auto;
    }

    #scoreboard {
      table {
        width: 100%;

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
      }
    }
  }
}
